*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  border:2px solid red;
  width:500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rect{
  border:1px solid black;
  position: absolute;
  display: none;
 
}
.left{
  border: 1px solid green;
  width: 5px;
  height: 75%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}